* {
    box-sizing : border-box;
}

html, body {
    display       : flex;
    align-content : stretch;
    min-height    : 100%;
    margin        : 0;
}

body {
    display          : block;
    width            : 100%;
    background-color : #C5C7CA;
}

#dashboard {
    display    : flex;
    min-height : 100%;
}

#top-nav {
    position : fixed;
    top      : 0;
    left     : 0;
    right    : 0;
}

.max-width-content {
    max-width : 1400px;
    margin    : 0 auto;
}

#top-nav > .content {
    height           : 60px;
    background-color : #FFFFFF;
}

#wrap-content {
    width       : 100%;
    min-height  : 100%;
    padding-top : 60px;
    align-self  : stretch;
    display     : flex;
}

#navigation {
    background-color : #333333;
    flex: 0 0 280px;
}

#content {
    flex: 1 0 auto;
}