/* Для id = navigation. */
#navigation {
  /* Ширина ???????? почему не просто width??????. */
  flex-basis: 220px;

  background-color: #00649b;
  /* Задний фон. */
  flex-shrink: 0;
  min-height : 100%;
}

/* Для тега body. */
body {
  /* Избавится от отступов по умолчанию. */
  margin           : 0;
  /* Задний фон. */
  background-color : #F1F1F1;
}

/* Для id = dashboard. */
#dashboard {
  /* Занять всю доступную ширину. */
  min-width  : 100%;
  /* Занять всю доступную высоту. */
  min-height : 100%;
}

/* Для id = header. */
#header {
  /* Зафиксироваться на странице в не зависимости от скрола. */
  position         : fixed;
  /* Занять всю доступную ширину. */
  width            : 100%;
  /* Высота 60px. */
  height           : 60px;
  /* Задний фон. */
  background-color : #FF835E;
  /* Всем дочерним элементам дерева на один уровень выстоится в ряд. */
  display          : flex;
}

/* Для класса logo. */
.logo {
  /* Задний фон. */
  background-color : #3CB56B;
  /* Текущий элемент не подвержен притеснению других. */
  flex-shrink      : 0;
}

/* Для класса header-content. */
.header-content {
  /* Занять всю доступную ширину. */
  width           : 100%;
  /* Всем дочерним элементам дерева на один уровень выстоится в ряд. */
  display         : flex;
  /* Раскидать дочерние элементы (1,2 OR 1,2,3 OR 1,2,3,4 ...) */
  justify-content : space-between;
  /* Отступы по вертикали 0 по горизонтали 24px. */
  padding         : 0 24px;
}

/* Для первого элемента с классом .widget который первый внутри header-content. */
.header-content > .widget {
  /* Всем дочерним элементам дерева на один уровень выстоится в ряд. */
  display         : flex;
  /* Отключить стили по умолчанию для тега <ul>...</ul>  */
  list-style      : none;
  /* Внешний отступ  = 0. */
  margin          : 0;
  /* Внутренний отступ = 0. */
  padding         : 0;
  /* По выртикали в центре. */
  align-items     : center;
  /* По горизонтали в центре. */
  justify-content : center;
}

/* Для тега первого тега li внутри первого класса widget который первый внутри класса header-content. */
.header-content > .widget > li {
  /* Ширина. */
  width            : 50px;
  /* Высота. */
  height           : 50px;
  /* Задний фон. */
  background-color : #333;
}

/* Для класса fixed-width-left-blocks */
.fixed-width-left-blocks {
  //Ширина.
  width : 230px;
}

