

/* text-decoration - убирает декорции текста 
	.hr для всех объектов помеченным этим классом
*/
.hr {
	color: blue;
	text-decoration: none;
}


/* ПСЕВДОКЛАССЫ */

/* :hover - меняет стиль объекта при наведении */
.hr:hover {
	color: green;
}

/* :active меняет стиль объекта в момент нажатия */
h1:active {
	color: fuchsia;
}

/* меняет цвет ссылки после одного нажатия */
.href:visited {
	color: #d431b1;
}
