#textStyles {
	/* Адаптивный размер шрифта	 */
	font-size: 1.3em;	
	
	/* Тип шрифта times new roman...	sans-serif - если такого шрифта не найдется будет подобран другой */
	font-family: Comic Sans MS, sans-serif;
	
	/* расположение	 */
	text-align: center;
	
	/* Отступ первый строки абзаца */
	text-indent: 1.1;
	
	/* расстояние между стоками */
	line-height: 120%;
}
