/* три способа ссылаться на стили */
	
	
/* 	это применяется ко всем элементам */
* {
	font-size: 20px;
}
	
	
/*1 применять стили к тегам, на пример: h1 {color: #00b0eb} */
h1 {color: #00b0eb}


/* 2 через id на пример:  <p id="id_p">Абзац</p> 
	Только один id для одного элемента
*/
#id_p {color: #f61919}


/* 3. Через классы их можно использовать повторно*/

/* для всех <p> */
p.style_01 {color: #26de1d}

/* для всех <h3> */
h3.style_01 {color: #5632b6}

/* для <i> вложенного в <p> */
p i {
	color: #d824ae
}


/* Группировка тегов */

p.groap, b {
	font-size: 30px;
	color: #b88924;
	
	font-weight: 200;
}


